@use 'src/style/variables' as *;

@mixin disabled {
  opacity: 0.6;
  pointer-events: none;
}


._nNestSel{
  ul {
    display:flex;
    flex-direction: row;
    width:100%;
    margin:1rem auto;
    justify-content: flex-start;
    padding-inline-start:0;
    @media (max-width : 590px){
      flex-wrap:wrap;
    }
    @media (min-width : 591px){
      flex-wrap:nowrap;
    }
    li {
      list-style: none;
      text-align:center;
      font-family: $fontB;
      font-size:90%;
      @media (max-width : 650px){
        margin-top:.2rem;
      }
      &.disabled {
        @include disabled;
      }
      option {
        padding:.2rem;
        &:disabled{
          opacity:.6;
          font-weight:bold;
        }
      }

    }
    select {
      min-width:90%;
      padding:.1rem .2rem;
      border-radius:2px;
      border-color:$tone4;

    }
  }

}

