@use 'src/style/variables' as *;

div#Synthese {
  margin-top:1.5rem;
  padding-top:.5rem;
  border-top:2px solid $tone4;
  h3{
    text-align:left;
  }
  ul {
    display:flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
    margin:.2rem 0 .5rem;
    li {
      list-style:none;
      display:block;
      svg {
        width:100%;
        cursor:pointer;
      }
    }
  }
  section.elus{
    li{
      flex: 0 1 1rem;
    }
  }
  section.triang{
    li{
      flex: 0 1 1.5rem;
    }
  }

}

