g._mCust {
  text {
    alignment-baseline: middle;
  }
}

g#depts{
  path {
    stroke:#fff;
    stroke-opacity: .5;
    stroke-width:1;
    fill:none;
    vector-effect:non-scaling-stroke;
  }
}

#choixCirco{
  li {
    flex-basis:33.33%;
  }
}

#mapContainer{
  padding-right:2rem;
}