@use 'common' as *;


g.MapPath {
  path {
    pointer-events:none;
    fill:$blank;
    stroke: #FFF;
    stroke-width:.2;
    &.clickable{
      pointer-events: painted;
      cursor: pointer;
      &:hover{
        fill:#ccc;
      }
    }
  }
}

g.MapCustom{
  text {
    font-family: $roboto-condensed;
    font-weight: bold;
    user-select:none;
    vector-effect: non-scaling-stroke;
  }
}


