@use 'src/style/common' as *;


@mixin titre {
  margin: .2rem 0;
  padding: 0;
  color:$textDark;
  font-family: $roboto-condensed;
  font-weight: bold;
  user-select:none;
  text-align:center;
}



header {
  h1,h2,h3,h4,h5,h6  {
    @include titre;
    &>span{
      font-family: $fontB;
      background: $textDark;
      color: $bckColor;
      padding:.2rem .5rem;
      border-radius:4px;
      font-weight: normal;
    }
  }

  h1{
    font-size:200%;
  }
  h2{
    font-size:150%;
  }
  h3{
    font-size:120%;
  }



}
