@use 'src/style/variables' as *;

$barWidth:2rem;
$barHeight:1.2rem;

._mLeg{
  margin:1vh;

  h4 {
    margin-bottom:1vh;
  }

  div.categories {
    display:flex;
    &.horizontal{
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin:.5vh 0 .5vh;
      figure{
        flex: 0 1 5vh;
        margin:0;
      }
    }
    &.vertical{
      flex-wrap: wrap;
      flex-direction:column;
      align-content:space-around;
      figure{
        flex: 2 1 auto;
      }

    }



      figure {
        position:relative;
        width:95%;
        margin:.1vh;

        span {
          display:inline-block;
          font-family:$fontA2;
          font-weight:bold;
          &.color {
            width:$barWidth;
            height:$barHeight;
            margin-right:4px;
            border-radius:2px;
          }

      }
        figcaption {
          display:inline-block;
          &>span {
            position:relative;
            top:-.3vh;
            margin-right:.5vh;
            user-select:none;
          }
        }

      }
    }





}