@use 'src/style/variables' as *;

$barWidth:2rem;
$barHeight:1.2rem;

._mLeg{
  margin:1rem;

  h4 {
    margin-bottom:1rem;
  }

  div.categories {
    display:flex;
    &.horizontal{
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin:.5rem 0 .5rem;
      figure{
        flex: 0 1 5rem;
        margin:0;
      }
    }
    &.vertical{
      flex-wrap: wrap;
      flex-direction:column;
      align-content:space-around;
      figure{
        flex: 0 1 auto;
      }

    }



      figure {
        flex: 0 1 5rem;
        position:relative;
        width:90%;
        margin:.1rem;

        span {
          display:inline-block;
          font-family:$fontA2;
          font-weight:bold;
          &.color {
            width:$barWidth;
            height:$barHeight;
            margin-right:.2rem;
            border-radius:2px;
          }

      }
        figcaption {
          display:inline-block;
          &>span {
            position:relative;
            top:-.3rem;
            margin-right:.5rem;
            user-select:none;
          }
        }

      }
    }





}