@use 'src/style/variables' as *;


@keyframes blinkingPath{
  0% { fill-opacity:1; stroke-width:4; }
  50% { fill-opacity:.7; stroke-width:0;}
  100% { fill-opacity:1; stroke-width:4; }
}


g._mPth {
  path {
    transition: opacity 3s ease-in-out .5s;
    pointer-events:none;
    fill:none;
    stroke: none;
    stroke-width:.2;
    vector-effect: non-scaling-stroke;
    &.clickable{
      pointer-events: painted;
      cursor: pointer;
      &:hover{
        fill:#ccc;
      }
    }
    &.highlight{
      stroke:$back1;
      animation:blinkingPath 1s infinite;

    }
    &.hidden{
      opacity:0;
    }
  }
}

