@use 'src/style/variables' as *;


@keyframes blinkingPath{
  0% { fill-opacity:1; stroke-width:2; }
  50% { fill-opacity:.7; stroke-width:0;}
  100% { fill-opacity:1; stroke-width:2; }
}


g._mPth {
  path {
    transition: opacity 1s ease-in-out .2s;
    pointer-events:none;
    fill:none;
    stroke: none;
    stroke-width:1;
    vector-effect: non-scaling-stroke;
    &.clickable{
      pointer-events: visiblePainted;
      cursor: pointer;

    }
    &.highlight{
      stroke:$back1;
      animation:blinkingPath 1s infinite;
    }
    &.hidden{
      opacity:0;
      cursor: default!important;
    }
  }
}

