@use 'src/style/common' as *;


g.MapPath {
  text {
    font-family: $roboto-condensed;
  }
  path {
    pointer-events:none;
    fill:#FFF;
    stroke: #FFF;
    stroke-width:.2;
    &.clickable{
      pointer-events: painted;
      cursor: pointer;
      &:hover{
        fill:#ccc;
      }
    }
  }
}

